{% extends 'base.html' %}
{% load static %}
{% load customTags %}

{% block title %}Divident Manager{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/budget/monthlyView.css' %}">
{% endblock %}

{% block content %}

    <div class="container-fluid mt-1">
        <form method="get" id="filterForm" class="row g-2 mb-3">
                <div class="col-md-4">
                    <button class="btn btn-secondary float-center">Divident Manager</button>
                </div>
                <div class="col-md-3">
                    <select name="year" id="yearSelect" class="form-select">
                    {% for y in finYears %}
                        <option value="{{ y.id }}" {% if y.id == selected_year_id %}selected{% endif %}>
                        {{ y.year }}
                        </option>
                    {% endfor %}
                    </select>
                </div>
                
                <div class="col-md-1">
                    <button type="submit" class="btn btn-primary w-100">Filter</button>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-primary open-form-btn" data-path="{% url 'assets:addDividend' %}">Add Dividend</button>
                </div>
            </form>

        
        <table class="table table-bordered table-dark">
            <thead>
                <tr>
                    <td>SlNo</td>
                    <td>Date</td>
                    <td>Stock Name</td>
                    <td>Amount</td>
                </tr>
            </thead>
            <tbody>
                {% for dividend in dividends %}
                <td>{{ forloop.counter }}</td>
                <td>{{ dividend.divDate | date:'d/m/Y' }}</td>
                <td>{{ dividend.stock }}</td>
                <td>{{ dividend.amount|floatformat:3 }}</td>
                {% endfor %}
            </tbody>
        </table>
       
    </div>

{% endblock %}
{% block extra_js %}
<script src="{% static 'js/budget/monthlyView.js' %}"></script>
{% endblock %}