{% extends 'base.html' %}
{% load static %}
{% load customTags %}

{% block title %}Divident Manager{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/budget/monthlyView.css' %}">
{% endblock %}

{% block content %}

    <div class="container-fluid mt-1">
        <form method="get" id="filterForm" class="d-flex flex-wrap gap-2 mb-3 align-items-center">
            <button class="btn btn-secondary flex-grow-1">
                Divident Manager
            </button>
            <select name="year" id="yearSelect" class="form-select w-auto flex-grow-1">
                {% for y in finYears %}
                    <option value="{{ y.id }}" {% if y.id == selected_year_id %}selected{% endif %}>
                        {{ y.year }}
                    </option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary">
                Filter
            </button>
            <button type="button" class="btn btn-success open-form-btn"
                    data-path="{% url 'assets:addDividend' %}">
                Add
            </button>
        </form>

        <table class="table table-bordered table-dark">
            <thead>
                <tr>
                    <td>SlNo</td>
                    <td>Date</td>
                    <td>Stock Name</td>
                    <td>Amount</td>
                </tr>
            </thead>
            <tbody>
                {% for dividend in dividends %}
                <td>{{ forloop.counter }}</td>
                <td>{{ dividend.divDate | date:'d/m/Y' }}</td>
                <td>{{ dividend.stock }}</td>
                <td>{{ dividend.amount|floatformat:3 }}</td>
                {% endfor %}
            </tbody>
        </table>
       
    </div>

{% endblock %}
{% block extra_js %}
<script src="{% static 'js/budget/monthlyView.js' %}"></script>
{% endblock %}