{% extends 'base.html' %}
{% load static %}
{% load customTags %}

{% block title %}MTFT Manager{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/budget/monthlyView.css' %}">
{% endblock %}

{% block content %}

    <div class="container-fluid mt-1">
        <form method="get" id="filterForm" class="row g-2 mb-3">
                <div class="col-md-3">
                    <select name="year" id="yearSelect" class="form-select">
                    {% for y in finYears %}
                        <option value="{{ y.id }}" {% if y.id == selected_year_id %}selected{% endif %}>
                        {{ y.year }}
                        </option>
                    {% endfor %}
                    </select>
                </div>
                
                <div class="col-md-3">
                    <select name="month" id="monthSelect" class="form-select">
                    {% for m in months %}
                        <option value="{{ m.id }}" {% if m.id == month.id %}selected{% endif %}>
                        {{ m.monthDesc }}
                        </option>
                    {% endfor %}
                    </select>
                </div>
                
                <div class="col-md-1">
                    <button type="submit" class="btn btn-primary w-100">Filter</button>
                </div>
                <div class="col-md-1">
                    <a class="btn btn-secondary float-end mb-1" href="{% url 'assets:swingManager' %}">Go Back</a>
                </div>
            </form>
        
        <table class="table table-bordered table-dark">
            <thead>
                <tr>
                    <td>Date</td>
                    {% for heading in stockHeadings %}
                        <td>{{ heading.itemName }}</td>
                    {% endfor %}
                </tr>
                {% for date in dates %}
                <tr>
                    <td>{{ date|date:"d/m/Y" }}</td>
                    {% for heading in stockHeadings %}
                    <td  contenteditable="true"
                        class="editable-cell {% if heading.itemName == 'stockName'%} show-stock-name {% endif %}"
                        data-date="{{ date|date:'Y-m-d' }}"
                        data-item="{{ heading.id }}"
                        data-month="{{ month.id }}"
                        data-year="{{ finYear.id }}"
                        data-path="{% url 'assets:saveTrans' %}"
                        data-valuetype="SWING"
                        data-stockurl="{% url 'assets:showStocks' %}"
                    >{% get_value data_dict heading.id date 'SWING' %}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </thead>
        </table>
       
    </div>

{% endblock %}
{% block extra_js %}
<script src="{% static 'js/budget/monthlyView.js' %}"></script>
{% endblock %}