{% extends 'base.html' %}
{% load static %}
{% load customTags %}

{% block title %}Swing Data Manager{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/budget/monthlyView.css' %}">
{% endblock %}

{% block content %}

    <div class="container-fluid mt-1">
        <a class="btn btn-secondary">SWING  TRADING DETAILS</a>
        <a class="btn btn-primary float-end mb-1" href="{% url 'assets:process' 'SWING' 'N' %}">Process</a>
        <a class="btn btn-primary float-end mb-1" href="{% url 'assets:swingTransactions'  %}">Goto Transactions</a>
        <table class="table table-bordered table-dark">
            <thead>
                <tr>
                    {% for heading in stockHeadings %}
                        <td>{{ heading.itemName }}</td>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for heading in stockHeadings %}
                    <td>{% get_value_2 data_dict heading.id 'SWING' %}</td>
                {% endfor %}
            </tbody>
        </table>
       
    </div>

{% endblock %}