{% extends 'base.html' %}
{% load static %}
{% load customTags %}

{% block title %}Debt Manager{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/budget/monthlyView.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid px-2">
    <div class="table-responsive">
    <table class="table table-dark table-bordered table-sm text-center align-middle">
        <tbody>
            <tr>
                <td colspan="4">DEBT GIVEN</td>
                <td><button class="btn btn-primary open-form-btn" data-path="{% url 'budgetManager:debt_create' %}">Add
                        Debt</button></td>
                <td><a class="btn btn-warning" href="{% url 'budgetManager:budgetManager' %}">Back</a></td>
            </tr>
            <tr>
                <td colspan="2">Total Amount given : </td>
                <td colspan="2">Total Amount Get</td>
                <td colspan="2">Amount To Get</td>
            </tr>
            <tr>
                <td>Sl.no</td>
                <td>Date</td>
                <td>TO</td>
                <td>Amount</td>
                <td>Is Paid</td>
                <td>Paid On</td>
            </tr>


            {% for debt in debts %}
            <tr>
                <td><button class="btn btn-dark open-form-btn" data-path="{% url 'budgetManager:debt_form' debt.id %}">{{ forloop.counter }}</button></td>
                <td>{{ debt.debtGivenDate | date:'d-m-Y'}}</td>
                <td>{{ debt.debtGivenTo }}</td>
                <td>{{ debt.debtGivenAmount}}</td>
                <td>
                    {% if debt.isPaid %}
                    YES
                    {% else %}
                    NO
                    {% endif %}
                </td>
                <td>{{ debt.debtPaidDate| date:'d-m-Y'}}</td>
            </tr>
            {% endfor %}


        </tbody>
    </table>
    </div>
</div>
{% endblock %}