{% extends 'base.html' %}
{% load static %}

{% block title %}Budget Manager{% endblock %}

{% block content %}
<h2>{{ sheet.name }}</h2>
<div class="container-fluid">
    <div class="status text-secondary" id="status">Loading...</div>
    <table class="table table-dark table-striped table-bordered" id="grid">
        <thead>
            <tr>
                <th></th>{% for c in cols %}<th>Col {{ c }}</th>{% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for r in rows %}
            <tr>
                <th>Row {{ r }}</th>
                {% for c in cols %}
                <td contenteditable="true" data-row="{{ r }}" data-col="{{ c }}" data-sheet="{{ sheet.id }}"
                    data-version="0" class="cell"></td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>



{% endblock %}

{% block extra_js %}
<script src="{% static 'js/budget/sheet.js' %}"></script>
<script>
    // initialize autosave
    window.SHEETS_INIT = {
      loadUrl: "{% url 'budgetManager:load_sheet' sheet.id %}",
      saveUrl: "{% url 'budgetManager:save_cell' %}",
      formulaUrl: "{% url 'budgetManager:show_formula' %}",
    };
  </script>
{% endblock %}
