<h2>Fast Multibagger Stocks</h2>
      <button class="btn btn-lg w-100 commonFetch" data-path="{% url 'fetch_multibaggers' %}" data-title="Fetching Multibagger stocks Stocks" data-text="This is a basic filteration for select fundamentally strong stocks">Fetch Multibagger Stocks</button>
{% if stocks %}
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Ticker</th>
            <th>Min Price</th>
            <th>Recent Max Price</th>
            <th>Growth Factor</th>
            <th>Min Date</th>
            <th>current Date</th>
        </tr>
    </thead>
    <tbody>
    {% for stock in stocks %}
        <tr>
            <td><a href="https://www.nseindia.com/get-quotes/equity?symbol={{ stock.ticker }}" target="_blank">{{ stock.ticker }}</a></td>
            <td>{{ stock.recent_min }}</td>
            <td>{{ stock.recent_max }}</td>
            <td>{{ stock.growth_factor }}</td>
            <td>{{ stock.min_date }}</td>
            <td>{{ stock.current_date }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>No fast multibaggers found in your watchlist.</p>
{% endif %}
